.flex-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-item{
    flex:1 1 30%;
    margin-top:25px;
    margin-left:15px;
    margin-right:15px;
}
