<mat-nav-list>
    <a target="_blank" (click)="openLink($event)" mat-list-item
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore">
        <span mat-line><i class="fa fa-facebook-official mr-3"></i>Share To Facebook</span>
    </a>
    <a target="_blank" (click)="openLink($event)" mat-list-item class="twitter-share-button"
        href="https://twitter.com/intent/tweet" data-size="large">
        <span mat-line><i class="fa fa-twitter mr-3"></i>Share To Twitter</span>
    </a>

    <!-- <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
        <span mat-line>Google Keep</span>
        <span mat-line>Add to a note</span>
    </a>

    <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
        <span mat-line>Google Docs</span>
        <span mat-line>Embed in a document</span>
    </a>

    <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
        <span mat-line>Google Plus</span>
        <span mat-line>Share with your friends</span>
    </a>

    <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
        <span mat-line>Google Hangouts</span>
        <span mat-line>Show to your coworkers</span>
    </a> -->
</mat-nav-list>