<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand">News Shots</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="features/world" routerLinkActive="active_item">World</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="features/politics" routerLinkActive="active_item">Politics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="features/business" routerLinkActive="active_item">Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="features/technology" routerLinkActive="active_item">Technology</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="features/sport" routerLinkActive="active_item">Sport</a>
            </li>
        </ul>
    </div>
</nav>