/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-width{
    margin:0;
    padding:0;
}
.img_dimension{
    height:300px;
    width:500px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
